{
    "inbounds": [
        {
            "listen": "127.0.0.1",
            "port": 1081,
            "protocol": "socks",
            "settings": {
                "udp": true
            },
            "sniffing": {
                "enabled": true
            }
        },
        {
            "listen": "127.0.0.1",
            "port": 1082,
            "protocol": "http",
            "sniffing": {
                "enabled": true
            }
        }
    ]
}