{
    "outbounds": [
        {
            "tag": "{{ v2ray_profile }}",
            "protocol": "vmess",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ ansible_host }}",
                        "port": {{ v2ray_vmess_wss_tls_port }},
                        "users": [
                            {
                                "id": "{{ v2ray_inbound_client_id }}",
                                "security": "auto"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "ws",
                "security": "tls",
                "tlsSettings": {
                    "allowInsecure": false
                },
                "wsSettings": {
                    "headers": {
                        "Host": "{{ v2ray_vmess_wss_host }}"
                    },
                    "path": "{{ v2ray_vmess_wss_path }}"
                }
            }
        },
        {
            "tag": "direct",
            "protocol": "freedom"
        },
        {
            "tag": "block",
            "protocol": "blackhole"
        }
    ]
}