{
    "outbounds": [
        {
            "tag": "trojan",
            "protocol": "trojan",
            "settings": {
                "servers": [
                    {
                        "address": "{{ ansible_host }}",
                        "port": {{ v2ray_config_trojan_port }},
                        "password": "{{ v2ray_config_trojan_password }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "tls",
                "tlsSettings": {
                    "allowInsecure": false
                }
            }
        }
    ]
}