{
    "outbounds": [
        {
            "tag": "kcp",
            "protocol": "vmess",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ ansible_host }}",
                        "port": {{ v2ray_config_mkcp_port }},
                        "users": [
                            {
                                "id": "{{ v2ray_config_inbound_client_id }}",
                                "security": "auto"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "kcp",
                "kcpSettings": {
                    "mtu": 1350,
                    "tti": 50,
                    "uplinkCapacity": 100,
                    "downlinkCapacity": 1000,
                    "congestion": true,
                    "readBufferSize": 2,
                    "writeBufferSize": 2,
                    "header": {
                        "type": "{{ v2ray_config_mkcp_header_type }}"
                    },
                    "seed": "{{ v2ray_config_mkcp_seed }}"
                }
            }
        }
    ]
}