{
    "outbounds": [
        {
            "tag": "{{ v2ray_profile }}",
            "protocol": "vmess",
            "settings": {
                "vnext": [
                    {
                        "address": "{{ ansible_host }}",
                        "port": {{ v2ray_vmess_quic_port }},
                        "users": [
                            {
                                "id": "{{ v2ray_inbound_client_id }}",
                                "security": "auto"
                            }
                        ]
                    }
                ]
            },
            "streamSettings": {
                "network": "quic",
                "security": "tls",
                "tlsSettings": {
                    "allowInsecure": false
                },
                "quicSettings": {
                    "security": "{{ v2ray_vmess_quic_security }}",
                    "key": "{{ v2ray_vmess_quic_key }}",
                    "header": {
                        "type": "{{ v2ray_vmess_quic_header_type }}"
                    }
                }
            }
        },
        {
            "tag": "direct",
            "protocol": "freedom"
        },
        {
            "tag": "block",
            "protocol": "blackhole"
        }
    ]
}