{
    "log": {
        "loglevel": "{{ v2ray_config_log_loglevel }}",
        "access": "{{ v2ray_config_log_access }}",
        "error": "{{ v2ray_config_log_error }}"
    },
    "inbounds": [
        {
            "listen": "{{ v2ray_config_quic_listen }}",
            "port": {{ v2ray_config_quic_port }},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{{ v2ray_config_inbound_client_id }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "quic",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "{{ v2ray_config_ssl_certificate }}",
                            "keyFile": "{{ v2ray_config_ssl_certificate_key }}"
                        }
                    ]
                },
                "quicSettings": {
                    "security": "{{ v2ray_config_quic_security }}",
                    "key": "{{ v2ray_config_quic_key }}",
                    "header": {
                        "type": "{{ v2ray_config_quic_header_type }}"
                    }
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ],
    "outbounds": [
        {
            "tag": "direct",
            "protocol": "freedom"
        },
        {
            "tag": "block",
            "protocol": "blackhole"
        }
    ],
    "routing": {
        "domainStrategy": "AsIs",
        "domainMatcher": "mph",
        "rules": [
            {
                "type": "field",
                "protocol": [
                    "bittorrent"
                ],
                "outboundTag": "block"
            },
            {
                "type": "field",
                "ip": [
                    "geoip:private"
                ],
                "outboundTag": "direct"
            }
        ]
    }
}