{
    "registry-mirrors": {{ docker_daemon_registry_mirrors | tojson }},
    "exec-opts": [
        "native.cgroupdriver=systemd"
    ],
    "log-driver": "json-file",
    "log-opts": {
        "max-size": "100m"
    },
    "storage-driver": "overlay2",
    "features": {
        "buildkit": {{ docker_daemon_enable_buildkit | tojson }}
    }
}