---
- name: create drop-in directory
  ansible.builtin.file:
    path: /etc/cloud/cloud.cfg.d
    mode: "0755"
    state: directory

- name: ensure cloud_init_network_config
  block:
    # All files with the '.cfg' extension in this directory will be read by cloud-init.
    # They are read in lexical order. Later files overwrite values in earlier files.
    - name: disable cloud-init network config
      when:
        - not (cloud_init_network_config | ansible.builtin.bool)
      ansible.builtin.copy:
        dest: /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
        mode: "0600"
        content: |
          network: {config: disabled}

    - name: revert disable cloud-init network config
      when:
        - (cloud_init_network_config | ansible.builtin.bool)
      ansible.builtin.file:
        path: /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
        state: absent

- name: ensure cloud_init_ssh_deletekeys
  block:
    # https://github.com/lima-vm/lima/issues/678
    - name: cloud-init - keep sshd host keys
      when:
        - not (cloud_init_ssh_deletekeys | ansible.builtin.bool)
      ansible.builtin.copy:
        mode: "0600"
        dest: /etc/cloud/cloud.cfg.d/99-keep-sshd-host-keys.cfg
        content: |
          ssh_deletekeys: false

    - name: revert - cloud-init - keep sshd host keys
      when:
        - (cloud_init_ssh_deletekeys | ansible.builtin.bool)
      ansible.builtin.file:
        path: /etc/cloud/cloud.cfg.d/99-keep-sshd-host-keys.cfg
        state: absent
