---
- name: ensure cloud-init config
  ansible.builtin.include_tasks: cloud-init.yml

- name: ensure netpaln config
  ansible.builtin.include_tasks: netplan.yml

- name: ensure systemd-resolved config
  ansible.builtin.include_tasks: resolved.yml

- name: ensure qemu-guest-agent
  block:
    - name: ensure qemu-guest-agent package installed
      ansible.builtin.package:
        name:
          - qemu-guest-agent
        state: present

    - name: ensure qemu-guest-agent enabled
      ansible.builtin.systemd_service:
        name: qemu-guest-agent
        enabled: true
