---
- name: assert required vars are set
  ansible.builtin.assert:
    that:
      - (default_gateway | default('') | length > 0)
    fail_msg: "default_gateway must be set"

- name: disable cloud-init network config
  when:
    - not (cloud_init_network_config | ansible.builtin.bool)
  ansible.builtin.include_tasks: cloud-init.yml

# https://github.com/lima-vm/lima/issues/678
- name: cloud-init - keep sshd host keys (keep /etc/sshd/ssh_host_*)
  when:
    - not (cloud_init_ssh_deletekeys | ansible.builtin.bool)
  ansible.builtin.copy:
    mode: "0600"
    dest: /etc/cloud/cloud.cfg.d/99-keep-sshd-host-keys.cfg
    content: |
      ssh_deletekeys: false

- name: ensure systemd-resolved global DNS
  when:
    - (resolved_override | ansible.builtin.bool)
  ansible.builtin.include_tasks: resolved.yml
