---
- name: ensure cloud-init config
  ansible.builtin.include_tasks: cloud-init.yml

- name: ensure netpaln config
  ansible.builtin.include_tasks: netplan.yml

- name: ensure systemd-resolved config
  ansible.builtin.include_tasks: resolved.yml
