---
- name: ensure packages installed
  ansible.builtin.package:
    name:
      - systemd-resolved
    state: present

- name: create drop-in directory
  ansible.builtin.file:
    path: /etc/systemd/resolved.conf.d
    mode: "0755"
    state: directory

- name: ensure systemd-resolved global DNS
  ansible.builtin.template:
    src: etc/systemd/resolved.conf.d/90-override.conf.j2
    dest: /etc/systemd/resolved.conf.d/90-override.conf
    mode: "0644"
  notify:
    - systemctl restart systemd-resolved

- name: ensure systemd-resolved enabled
  ansible.builtin.systemd_service:
    name: systemd-resolved
    enabled: true
