---
- name: ensure packages installed
  ansible.builtin.package:
    name:
      - systemd-resolved
    state: present

- name: create drop-in directory
  ansible.builtin.file:
    path: /etc/systemd/resolved.conf.d
    mode: "0755"
    state: directory

- name: ensure systemd-resolved global DNS
  block:
    - name: ensure systemd-resolved global DNS
      when:
        - (resolved_override | ansible.builtin.bool)
      ansible.builtin.template:
        src: etc/systemd/resolved.conf.d/90-override.conf.j2
        dest: /etc/systemd/resolved.conf.d/90-override.conf
        mode: "0644"
      notify:
        - systemctl restart systemd-resolved

    - name: remove systemd-resolved global DNS
      when:
        - not (resolved_override | ansible.builtin.bool)
      ansible.builtin.file:
        path: /etc/systemd/resolved.conf.d/90-override.conf
        state: absent
      notify:
        - systemctl restart systemd-resolved

- name: ensure systemd-resolved mode
  block:
    - name: ensure systemd-resolved in stub mode
      when:
        - (resolved_stub_listener | ansible.builtin.bool)
      ansible.builtin.file:
        src: /run/systemd/resolve/stub-resolv.conf
        dest: /etc/resolv.conf
        state: link
      notify:
        - systemctl restart systemd-resolved

    - name: ensure systemd-resolved in uplink mode
      when:
        - not (resolved_stub_listener | ansible.builtin.bool)
      ansible.builtin.file:
        src: /run/systemd/resolve/resolv.conf
        dest: /etc/resolv.conf
        state: link
      notify:
        - systemctl restart systemd-resolved

- name: ensure systemd-resolved enabled
  ansible.builtin.systemd_service:
    name: systemd-resolved
    enabled: true
