# Debian 11 (bullseye)
deb {{ common_apt_repo_url }}/debian/ bullseye main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian/ bullseye main contrib non-free

deb {{ common_apt_repo_url }}/debian/ bullseye-updates main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian/ bullseye-updates main contrib non-free

deb {{ common_apt_repo_url }}/debian-security/ bullseye-security main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian-security/ bullseye-security main contrib non-free

# deb {{ common_apt_repo_url }}/debian/ bullseye-backports main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian/ bullseye-backports main contrib non-free
