# Debian 10 (buster)
deb {{ common_apt_repo_url }}/debian/ buster main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian/ buster main contrib non-free

deb {{ common_apt_repo_url }}/debian/ buster-updates main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian/ buster-updates main contrib non-free

# Debian 11 (bullseye) 以前的 debian-security 的 distribution 项稍有不同
deb {{ common_apt_repo_url }}/debian-security/ buster/updates main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian-security/ buster/updates main contrib non-free

# deb {{ common_apt_repo_url }}/debian/ buster-backports main contrib non-free
# deb-src {{ common_apt_repo_url }}/debian/ buster-backports main contrib non-free
