{
    "routing": {
        "domainStrategy": "AsIs",
        "domainMatcher": "mph",
        "rules": [
            {
                "type": "field",
                "protocol": [
                    "bittorrent"
                ],
                "outboundTag": "block"
            },
            {
                "type": "field",
                "protocol": [
                    "http",
                    "tls"
                ],
                "outboundTag": "direct"
            }
        ]
    }
}