{
    "inbounds": [
        {
            "tag": "mkcp",
            "listen": "{{ v2ray_config_mkcp_listen }}",
            "port": {{ v2ray_config_mkcp_port }},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{{ v2ray_config_inbound_client_id }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "kcp",
                "kcpSettings": {
                    "mtu": 1350,
                    "tti": 50,
                    "uplinkCapacity": 1000,
                    "downlinkCapacity": 1000,
                    "congestion": true,
                    "readBufferSize": 2,
                    "writeBufferSize": 2,
                    "header": {
                        "type": "{{ v2ray_config_mkcp_header_type }}"
                    },
                    "seed": "{{ v2ray_config_mkcp_seed }}"
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}