{
    "inbounds": [
        {
            "tag": "{{ v2ray_config_profile }}",
            "port": {{ v2ray_config_trojan_wss_port }},
            "protocol": "trojan",
            "settings": {
                "clients": [
                    {
                        "password": "{{ v2ray_config_trojan_wss_password }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "ws",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "{{ v2ray_config_ssl_certificate }}",
                            "keyFile": "{{ v2ray_config_ssl_certificate_key }}"
                        }
                    ]
                },
                "wsSettings": {
                    "headers": {
                        "Host": "{{ v2ray_config_trojan_wss_host }}"
                    },
                    "path": "{{ v2ray_config_trojan_wss_path }}"
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}