{
    "inbounds": [
        {
            "tag": "{{ v2ray_profile }}",
            "port": {{ v2ray_vmess_kcp_port }},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{{ v2ray_inbound_client_id }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "kcp",
                "kcpSettings": {
                    "mtu": 1350,
                    "tti": 50,
                    "uplinkCapacity": 1000,
                    "downlinkCapacity": 1000,
                    "congestion": true,
                    "readBufferSize": 2,
                    "writeBufferSize": 2,
                    "header": {
                        "type": "{{ v2ray_vmess_kcp_header_type }}"
                    },
                    "seed": "{{ v2ray_vmess_kcp_seed }}"
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}