{
    "inbounds": [
        {
            "tag": "wss",
            "listen": "{{ v2ray_config_wss_listen }}",
            "port": {{ v2ray_config_wss_port }},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{{ v2ray_config_inbound_client_id }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "ws",
                "security": "none",
                "wsSettings": {
                    "headers": {
                        "Host": "{{ v2ray_config_wss_host }}"
                    },
                    "path": "{{ v2ray_config_wss_path }}"
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}