{
    "inbounds": [
        {
            "tag": "trojan",
            "listen": "{{ v2ray_config_trojan_listen }}",
            "port": {{ v2ray_config_trojan_port }},
            "protocol": "trojan",
            "settings": {
                "clients": [
                    {
                        "password": "{{ v2ray_config_trojan_password }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "{{ v2ray_config_ssl_certificate }}",
                            "keyFile": "{{ v2ray_config_ssl_certificate_key }}"
                        }
                    ]
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}