{
    "inbounds": [
        {
            "tag": "tcp",
            "listen": "{{ v2ray_config_tcp_listen }}",
            "port": {{ v2ray_config_tcp_port }},
            "protocol": "vmess",
            "settings": {
                "clients": [
                    {
                        "id": "{{ v2ray_config_inbound_client_id }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "{{ v2ray_config_ssl_certificate }}",
                            "keyFile": "{{ v2ray_config_ssl_certificate_key }}"
                        }
                    ]
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}