{
    "inbounds": [
        {
            "tag": "{{ v2ray_profile }}",
            "port": {{ v2ray_trojan_tcp_port }},
            "protocol": "trojan",
            "settings": {
                "clients": [
                    {
                        "password": "{{ v2ray_trojan_tcp_password }}"
                    }
                ]
            },
            "streamSettings": {
                "network": "tcp",
                "security": "tls",
                "tlsSettings": {
                    "certificates": [
                        {
                            "certificateFile": "{{ v2ray_ssl_certificate }}",
                            "keyFile": "{{ v2ray_ssl_certificate_key }}"
                        }
                    ]
                }
            },
            "sniffing": {
                "enabled": true
            }
        }
    ]
}