---
- name: manage /etc/apt/apt.conf.d/99force-ipv4
  block:
    - name: set Acquire::ForceIPv4 to true if enabled
      when:
        - (apt_force_ipv4_enabled | ansible.builtin.bool)
      ansible.builtin.copy:
        dest: /etc/apt/apt.conf.d/99force-ipv4
        mode: "0644"
        content: |
          Acquire::ForceIPv4 "true";

    - name: revert Acquire::ForceIPv4 to false if not enabled
      when:
        - not (apt_force_ipv4_enabled | ansible.builtin.bool)
      ansible.builtin.file:
        path: /etc/apt/apt.conf.d/99force-ipv4
        state: absent
