---
- name: manage /etc/apt/preferences.d/90debian-backports
  block:
    - name: set linux kernel preferences on debian-backports if enabled
      when:
        - (apt_repo_debian_backports_enabled | ansible.builtin.bool)
      ansible.builtin.copy:
        dest: /etc/apt/preferences.d/90debian-backports
        mode: "0644"
        content: |
          Package: {{ apt_repo_debian_backports_preferences_package }}
          Pin: release n={{ ansible_distribution_release }}-backports
          Pin-Priority: {{ apt_repo_debian_backports_preferences_pin_priority | int }}

    - name: revert linux kernel preferences on debian-backports if not enabled
      when:
        - not (apt_repo_debian_backports_enabled | ansible.builtin.bool)
      ansible.builtin.file:
        path: /etc/apt/preferences.d/90debian-backports
        state: absent
