---
- name: install docker | defaults
  hosts: "{{ playbook_hosts | default('localhost') }}"
  become: true
  vars:
    docker_apt_repo_uris:
      - https://download.docker.com/linux/debian
      # - https://mirror-cdn.xtom.com/docker-ce/linux/debian
      # - https://mirrors.tencent.com/docker-ce/linux/debian
      # - https://mirrors.aliyun.com/docker-ce/linux/debian

    docker_apt_pinning: true
    docker_apt_unattended_upgrade: false
    docker_apt_mark_hold: false

    docker_daemon_registry_mirrors: []
    # - https://docker-registry.example.com

  tasks:
    - ansible.builtin.import_role:
        name: docker
